/**Oinarrizko estiloa orri guztientzat**/
:root{
    --bg-fondo: #FFF8DC;
    --bg-header: #000;
    --bg-header-menu: #232323;
    --bg-header-menu-options: #191818;
    --text-color-dark: #fff; 
    --bg-social-media: #fff;
}

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", system-ui;
    font-style: normal;
}
p, ol{
    text-align: justify;
    text-justify: inter-word;
}
h2{
    margin:10px;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

/**Argazkien jabetza**/
figcaption {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.9em;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 4px;

}

/**HEADER**/
header{
    display: flex;
    position: sticky;
    top:0;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-header);
    z-index: 1000;

    & a{
        text-decoration: none;
        color: var(--text-color-dark);
    }

    & nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--bg-header-menu);
        width: 100%;
        overflow-y: hidden;

        & #hamburger_menu {
            display: none;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: relative;

            &:hover{
                #bar, #bar::before, #bar::after{
                    box-shadow: 0 0 5px #fff, 0 0 5px #ccc;
                }
            }

            & #bar {
                display: flex;
                width: 85%;
                height: 3px;
                background-color: white;
                border-radius: 1px;
                position: relative;
                transition: 0.2s;
            }
            
            & #bar::before, #bar::after {
                display: flex;
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: white;
                border-radius: 1px;
                transition: 0.2s;
            }
            
            & #bar::before {
                top: -13px;
            }
            
            & #bar::after {
                top: 13px;
            }

            &.menu_open #bar{
                background-color: transparent;
                box-shadow: none;
            }

            &.menu_open #bar::before{
                top: 50%;
                transform: translate(-50%, -50%);
                transform: rotate(45deg);
            }

            &.menu_open #bar::after{
                top: 50%;
                transform: translate(-50%, -50%);
                transform: rotate(-45deg);
            }
        }

        & ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            width: 60%;
            height: 100%;

            & li{
                display: flex;
                justify-content: center;
                height: 100%;

                & a{
                    width: 100%;
                    height: 100%;
                    padding: 15px 20px;
                    text-align: center;
                    transition: .1s;

                    &:hover{
                        text-shadow:0 0 10px #fff, 0 0 10px #ccc;
                    }
                }
            }
        }
    }
}
/**Footer**/
/**CC BY-NC 4.0 eta CC BY 2.0**/
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
    padding:15px 0;
    color:rgb(116, 116, 116);
    & p{
        margin-top:20px;
    }
    & nav{
        display: flex;
        justify-content: center;
        width: 100%;

        & ul{
            display: flex;

            & li{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--bg-social-media);
                margin: 0 15px;
                border-radius: 50%;
                transition:.1s;

                &:hover{
                    box-shadow:0 0 10px #fff, 0 0 10px #ccc;
                }
    
                & a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:5px;
                    font-size: 25px;
                    width: 35px;
                    color:black;
                    text-decoration: none;
                }
        }
        
        }
    }
}

.logo_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

    & img{
        width:375px;
        transition: .1s;
    }

    & img.logo-sm{
        width: 175px;
    }
}

@media(width < 1024px){
    header{
        img{
            max-width: 300px;
        }
        & nav{
            flex-direction: column;

            & #hamburger_menu{
                display: flex;
            }

            & ul{
                flex-direction: column;
                position: absolute;
                z-index: 1;
                left:0;
                top: 100%;
                background-color: var(--bg-header-menu-options);
                width: 100%;
                height: 0;

                &.menu_open{
                    height: auto;

                    & li{
                        display: flex;
                    }
                }

                & li{
                    display: none;
                    & a{
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}