/**Oinarrizko estiloa orri guztientzat**/
:root{
    --bg-fondo: #FFF8DC;
    --bg-header: #000;
    --bg-header-menu: #232323;
    --bg-header-menu-options: #191818;
    --text-color-dark: #fff; 
    --bg-social-media: #fff;
}
body{
    background-color: #f8f8f8;
background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%23e1e1e1' fill-opacity='0.4'%3E%3Cpath d='M84 23c-4.417 0-8-3.584-8-7.998V8h-7.002C64.58 8 61 4.42 61 0H23c0 4.417-3.584 8-7.998 8H8v7.002C8 19.42 4.42 23 0 23v38c4.417 0 8 3.584 8 7.998V76h7.002C19.42 76 23 79.58 23 84h38c0-4.417 3.584-8 7.998-8H76v-7.002C76 64.58 79.58 61 84 61V23zM59.05 83H43V66.95c5.054-.5 9-4.764 9-9.948V52h5.002c5.18 0 9.446-3.947 9.95-9H83v16.05c-5.054.5-9 4.764-9 9.948V74h-5.002c-5.18 0-9.446 3.947-9.95 9zm-34.1 0H41V66.95c-5.053-.502-9-4.768-9-9.948V52h-5.002c-5.184 0-9.447-3.946-9.95-9H1v16.05c5.053.502 9 4.768 9 9.948V74h5.002c5.184 0 9.447 3.946 9.95 9zm0-82H41v16.05c-5.054.5-9 4.764-9 9.948V32h-5.002c-5.18 0-9.446 3.947-9.95 9H1V24.95c5.054-.5 9-4.764 9-9.948V10h5.002c5.18 0 9.446-3.947 9.95-9zm34.1 0H43v16.05c5.053.502 9 4.768 9 9.948V32h5.002c5.184 0 9.447 3.946 9.95 9H83V24.95c-5.053-.502-9-4.768-9-9.948V10h-5.002c-5.184 0-9.447-3.946-9.95-9zM50 50v7.002C50 61.42 46.42 65 42 65c-4.417 0-8-3.584-8-7.998V50h-7.002C22.58 50 19 46.42 19 42c0-4.417 3.584-8 7.998-8H34v-7.002C34 22.58 37.58 19 42 19c4.417 0 8 3.584 8 7.998V34h7.002C61.42 34 65 37.58 65 42c0 4.417-3.584 8-7.998 8H50z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", system-ui;
    font-style: normal;
}
h1, h2, h3, h4, h5, h6{
    font-family: "Grenze", system-ui;

}
.grenze-thin {
    font-family: "Grenze", serif;
    font-weight: 100;
    font-style: normal;
  }
  
p, ol{
    text-align: justify;
    text-justify: inter-word;
}
h2{
    margin:10px;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    overflow-x: hidden;
}

/**Argazkien jabetza**/
figcaption {
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 0.9em;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 5px 10px;
    border-radius: 4px;
    pointer-events: none;

}

/**HEADER**/
header{
    display: flex;
    position: sticky;
    top:0;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--bg-header);
    z-index: 1000;

    & a{
        text-decoration: none;
        color: var(--text-color-dark);
    }

    & nav{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:var(--bg-header-menu);
        width: 100%;
        overflow-y: hidden;

        & #hamburger_menu {
            display: none;
            justify-content: center;
            align-items: center;
            width: 50px;
            height: 50px;
            cursor: pointer;
            position: relative;

            &:hover{
                #bar, #bar::before, #bar::after{
                    box-shadow: 0 0 5px #fff, 0 0 5px #ccc;
                }
            }

            & #bar {
                display: flex;
                width: 85%;
                height: 3px;
                background-color: white;
                border-radius: 1px;
                position: relative;
                transition: 0.2s;
            }
            
            & #bar::before, #bar::after {
                display: flex;
                content: '';
                position: absolute;
                width: 100%;
                height: 3px;
                background-color: white;
                border-radius: 1px;
                transition: 0.2s;
            }
            
            & #bar::before {
                top: -13px;
            }
            
            & #bar::after {
                top: 13px;
            }

            &.menu_open #bar{
                background-color: transparent;
                box-shadow: none;
            }

            &.menu_open #bar::before{
                top: 50%;
                transform: translate(-50%, -50%);
                transform: rotate(45deg);
            }

            &.menu_open #bar::after{
                top: 50%;
                transform: translate(-50%, -50%);
                transform: rotate(-45deg);
            }
        }

        & ul{
            display: flex;
            justify-content: center;
            list-style-type: none;
            width: 60%;
            height: 100%;

            & li{
                display: flex;
                justify-content: center;
                height: 100%;

                & a{
                    width: 100%;
                    height: 100%;
                    padding: 15px 20px;
                    text-align: center;
                    transition: .1s;

                    &:hover{
                        text-shadow:0 0 10px #fff, 0 0 10px #ccc;
                    }
                }
            }
        }
    }
}
/**Footer**/
/**CC BY-NC 4.0 eta CC BY 2.0**/
footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;
    padding:15px 0;
    color:rgb(116, 116, 116);
    & p{
        margin-top:20px;
    }
    & nav{
        display: flex;
        justify-content: center;
        width: 100%;

        & ul{
            display: flex;

            & li{
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: var(--bg-social-media);
                margin: 0 15px;
                border-radius: 50%;
                transition:.1s;

                &:hover{
                    box-shadow:0 0 10px #fff, 0 0 10px #ccc;
                }
    
                & a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding:5px;
                    font-size: 25px;
                    width: 35px;
                    color:black;
                    text-decoration: none;
                }
        }
        
        }
    }
}

.logo_wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px;

    & img{
        width:375px;
        transition: .1s;
    }

    & img.logo-sm{
        width: 175px;
    }
}

@media(width < 1024px){
    header{
        img{
            max-width: 300px;
        }
        & nav{
            flex-direction: column;

            & #hamburger_menu{
                display: flex;
            }

            & ul{
                flex-direction: column;
                position: absolute;
                z-index: 1;
                left:0;
                top: 100%;
                background-color: var(--bg-header-menu-options);
                width: 100%;
                height: 0;

                &.menu_open{
                    height: auto;

                    & li{
                        display: flex;
                    }
                }

                & li{
                    display: none;
                    & a{
                        padding: 20px 0;
                    }
                }
            }
        }
    }
}