/* Elementu guztien marjinak eta paddingak ezabatu */
* {
    margin: 0;
    padding: 0;
}

/* Edukien banaketa Flexbox erabiliz antolatzen duen kontenedore nagusia */
.container {
    display: flex;
    min-height: 100vh; 
    overflow: hidden; 
}

/* Formularioaren estilo orokorra */
form {
    width: 80%;
    margin-top: 15px;
    margin-bottom: 15px;
}
.titulua{
    text-align:center;
}

/* Formularioaren atala*/
.form-section {
    width: 50%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px; 
    margin-bottom: 50px; 
    min-height: 600px; 
}

/* Etiketen, testu sarreraren, emailaren eta textarea-ren estiloa */
label, input[type="text"], input[type="email"], textarea {
    width: 100%;
    margin-bottom: 5px;
}

/* Testu sarrerako eta textarea-ren estiloa */
input[type="text"], input[type="email"], textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    border-radius: 5px; 

}

/* Testu sarrerako eta textarea-ren fokus efektua */
input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
    border-color: #191818;
    outline: none;
}

/* Textarea bereziaren estiloa */
textarea {
    height: 150px;
    resize: vertical;
    resize: none;
}

/* "Sexua" eta "Ezagutza" ataleko estiloa */
.sexua, .ezagutza {
    display: flex;
    justify-content: space-between;
}

/* Irudiaren atala */
.argazkia {
    width: 50%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

/* Irudien figura atalaren estiloa */
.argazkia figure {
    margin: 0;
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Irudiak figuran */
.argazkia img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Bidali eta ezabatu botoien estiloa */
input[type="submit"], input[type="reset"] {
    width: auto;
    padding: 15px 22px;
    cursor: pointer;
    background-color: #191818;
    border: none;
    color: white;
    font-size: 1em;
    margin-top: 10px;
    transition: background-color 0.3s;
    border-radius: 5px; 
}



/* Botoien hover efektua */
input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: #333333;
}


/* Tabletentzako estiloak */
@media (width < 1024px) {
    .container {
        flex-direction: row;         
    }

    .form-section {
        width: 100%; 
        min-height: auto; 
        margin: 10px 0;
    }

    .argazkia {
        display: flex; 
        position: relative; 
        width: 40%;      
    }

    input[type="submit"], input[type="reset"] {
        width: 100%; 
        padding: 12px 0; 
        font-size: 1em; 
    }

    .sexua, .ezagutza {
        flex-direction: row; 
        align-items: flex-start; 
    }
}

/* Mugikorretarako estiloak */
@media (width < 650px) {
    .argazkia {
        display: none;
    }
    .sexua, .ezagutza {
        flex-direction: column; 
        align-items: flex-start; 
    }
}
