:root {
    --natura: #a5f78c;
    --eraikinak: rgb(209, 139, 250);
    --artea: #f35e5e;
    --gazia: #95dcfd;
    --gozoa: #fca7e2;
}

/* Kontenedore printzipala */
.container {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
}

/* Cardak */
.card {
    display: flex;
    height: 400px;
    overflow: hidden;
    transition: transform 0.5s ease;

    .info {
        display: flex;
        flex-direction: column;
        opacity: 0;
        padding: 30px;
        width: 50%;
        transition: .5s ease;
    }
    /*Tituluak eta paragrafoak erdian egotea egiten du eta paragrafoak bere aldetik ataratzea ere*/
    &:nth-child(odd) {
        flex-direction: row;
        .info {
            transform: translateX(50%);
        }
    }

    &:nth-child(even) {
        flex-direction: row-reverse;
        .info {
            transform: translateX(-50%);
            align-items: end;

        }
    }

    .info.show {
        opacity: 1;
        transform: translateX(0%); /* Edukia bere azken posizioan erakusten du */
    }
}
/* Bilaketa filtroak */
#filtro{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;


    button{
        cursor:pointer;
        transition: .2s;

        &:hover{
            filter: brightness(.9);
        }
    }
}

/* Etiketen píldorak */
.pill {
    background-color: #ddd;
    border: none;
    color: black;
    font-size: 16px;
    padding: 10px 20px;
    text-align: center;
    margin: 4px;
    border-radius: 16px;
    width: fit-content;

    &.eraikinak_bg { background-color: var(--eraikinak) }
    &.natura_bg { background-color: var(--natura); }
    &.artea_bg { background-color: var(--artea); }
    &.gazia_bg { background-color: var(--gazia); }
    &.gozoa_bg { background-color: var(--gozoa); }
}

/* Argazkiak edo bideoak */
.argazkiak,
.bideoa {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50%;
    overflow: hidden;
}

img {
    min-height: 100%;
    width: 100%;
    vertical-align: middle;
}

h1 {
    padding: 20px;
}

h2 {
    font-size: 30px;
}

p {
    margin-top: 25px;
    text-align: justify;
}

/* Mugikorrak eta tabletak */
@media (max-width: 850px) {
    .container .card {
        flex-direction: column;
        height: auto;

        .info{
            align-items: start;
        }
        
    }

    .container .argazkiak,
    .container .bideoa,
    .container .info {
        width: 100%;
    }

    .container .bideoa {
        height: 300px;
    }

    .container img {
        height: 100%;
        width: 100%;
    }

    #filtro{
        width: 75%;
        flex-wrap: wrap;
    }
}