/**Contenedor del body, incluye todo el contenido**/
.container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;

}

/**Estas cards contienen una foto con su respectiva informacion**/
.card{
    display: flex;
    background-color: white;
    align-content:center;
    z-index: -1; 
    height: 400px;
}

/**Este div contiene cada foto o video(para poder darle forma)**/
.argazkiak, .bideoa{
    position: relative;
    justify-content:center;
    align-items:center;
    height:100%;
    width:50%;
    overflow:hidden;
    
}

img{
    min-height:100%;
    width:100%;
    vertical-align: middle;
}

/**Este div contiene tanto el titulo como el texto de cada card**/
.info{
    opacity: 0;
    padding:30px;
    width: 50%;
    transform: translateX(50%);
    transition: .5s;

    &:nth-child(1){
        transform: translateX(-50%);

        &.show{
            transform: translateX(0%);
        }
    }
    
}

/*Este elemento solo contiene el titulo del card del medio*/
.centro{
    text-align:right;
    margin-right:10px;
}
/* Mestra el texto, se implementa en zer.js */
.show{
    opacity: 1;
    transform: translateX(0%);
}
h1{
    padding:20px;
}
h2{
    font-size: 30px;
}

p{
    margin-top:25px;
    text-align: justify;
}


/*MOVIL y TABLET*/
@media (max-width: 850px) {
    
    .card{
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    
    .argazkiak, .bideoa{
        display:flex;
        width:100%;
    }
    .bideoa{
        height:300px;
    }

    img{
        height: 100%;
    }
    
    .info{
        width: 100%;
    }
    
    .eskuma{
        order:-1;
    }

    .centro{
        text-align:left;
        margin-right:10px;
    }
}