.container{
    display: grid;
    width: 100%;
    margin: 20px;
    grid-template-columns: 1fr;
    row-gap: 20px;
}

.card{
    display: flex;
    background-color: grey;
    align-content:center;
    margin: 0 100px;
    z-index: -1; 
    height: 300px;
}

.argazkiak{
    height:100%;
    width:100%;
    
}
.eskuma{
    text-align: left;
    mask-image: linear-gradient(270deg, black 70%, transparent);
}
.ezkerra{
    text-align: right;
    mask-image: linear-gradient(90deg, black 70%, transparent);
}
img{
    width:100%;
    vertical-align: middle;
    /* position: relative; */
    /* z-index: -1; */

}
.info{
    padding:10px;
    text-align: justify;
    margin-top:20px;
    margin-left:10px;
    width: 100%;
    
}
h1{
    padding:20px;
}
h2{
    font-size: 30px;
}
.osos{
    text-align:right;
    margin-right:10px;
}
p{
    font-size: 20px;
}